@using BookStore.ViewModels
@model AuthorVM

@{
    Layout = "_Dashboard_Layout";
    ViewData["Title"] = "Author";
}

@section subTitle {
    @(Model?.Id == null ? "Create" : "Edit")
}


<div class="card w-100">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="card-title">@(Model?.Id == null ? "Create" : "Edit")</h3>


    </div>

    <form asp-controller = "Authors">
        <div class="card-body">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                @(Model?.Id == null ? "Add" : "Update")
            </button>
        </div>
    </form>


</div>







